In [1]:
import pandas as pd
import numpy as np
import nltk

from nltk import word_tokenize

In [9]:
nltk.download('punkt') # data for word tokenizer

[nltk_data] Downloading package punkt to /Users/shikhar/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
df = pd.read_csv('/Users/shikhar/Downloads/bbc_text_cls.csv')

In [4]:
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [14]:
# populate word2idx. Convert documents into strings sequences of ints/ids/indices
idx = 0
word2idx = {}                       # Empty Dictionary to store word-to-index mappings
tokenized_docs = []                 # Empty list to store tokenized documents

for doc in df['text']:
    tokens = word_tokenize(doc.lower())
    doc_as_int = []
    for token in tokens:
        if token not in word2idx:
            word2idx[token] = idx
            idx+=1
        doc_as_int.append(word2idx[token])   # Saving words in an integer list
    tokenized_docs.append(doc_as_int)       # Saving tokenized docs in a list

In [15]:
# reverse mapping to deep neural networks
idx2word = {v:k for k,v in word2idx.items()}

In [16]:
N = len(df['text'])         # Number of documents
V = len(word2idx)           # Size of vocabulary

In [17]:
# create a term frequency matrix
tf = np.zeros((N,V))

In [18]:
# populate the matrix

for i,doc_as_int in enumerate(tokenized_docs):
    for j in doc_as_int:
        tf[i,j]+=1

In [19]:
# compute IDF(Inverse Document Frequency)
document_freq = np.sum(tf>0 , axis = 0) 
idf = np.log(N / document_freq)

In [20]:
tf_idf = tf * idf

In [22]:
np.random.seed(123)

In [26]:
i = np.random.choice(N)
row = df.iloc[i]
print("Label: " , row['labels'])
print("Text : ", row['text'].split("\n" , 1)[0])
print("Top 5 terms: " )

scores = tf_idf[i]
indices = (-scores).argsort()

for j in indices[:5]:
    print(idx2word[j])

Label:  tech
Text :  IBM puts cash behind Linux push
Top 5 terms:
linux
ibm
workplace
software
programs